.eventList section:first-of-type a {
    /* font-weight: bolder;
    font-size: larger; */
    font-weight: bolder;
    font-size: 1.5em;
}

.friendEvent {
    background-color: red;
}

STYLE FRIEND EVENTS CORRECTLY